name: Build, push and smoke-test Java Docker image

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      run_smoke_test:
        description: 'Run smoke test after push (true/false)'
        required: false
        default: 'true'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      -  name: Debug repository name
         run: echo "Repo is ${{ secrets.DOCKERHUB_REPOSITORY }}"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build 
        run: |
          docker build -t informs -f Dockerfile_Pipeline/Dockerfile .